@import './variables.scss';
//?
$themes: (
  light: (
    white: #FFFFFF,
    grey: #5C6A79,
    greyLight: #838b94,
    dark: #1C2A39,
    textMain: #1C2A39,
    textSecondary: #5C6A79,
    back: #b41f3d,
    backFill: rgba(94, 145, 187, 0.479),
  ),
  dark: (
    white: #FFFFFF,
    grey: #5C6A79,
    greyLight: #838b94,
    dark: #1C2A39,
    textMain: #FFFFFF,
    textSecondary: #b9c0c7,
    back: #151c1f,
    backFill: rgba(14, 32, 46, 0.85),
  ),
);

// mixin.scss
@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}