@import '../../styles/variables.scss';

.weather {
	width: 100%;
	display: grid;
	grid-template-columns: 140px 1fr 200px 1fr 110px .2fr 110px;
	grid-template-rows: repeat(2, 125px);
	row-gap: 20px;
	grid-template-areas:
		'temp . main . wind . pressure'
		'sun  . main . wind . humidity';
	&__temperature {
		grid-area: temp;
	}
	&__sun {
		grid-area: sun;
	}
	&__description {
		grid-area: main;
	}
	&__wind {
		grid-area: wind;
		@include flex-grid(flex, column, space-between, center);
		&::before {
			content: url(../../assets/icons/wind_dark.png);
		}
	}
	&__pressure {
		grid-area: pressure;
		@include flex-grid(flex, column, space-between, center);
		&::before {
			content: url(../../assets/icons/pressure_dark.png);
		}
	}
	&__humidity {
		grid-area: humidity;
		@include flex-grid(flex, column, space-between, center);
		&::before {
			content: url(../../assets/icons/humidity_dark.png);
		}
	}
	&__windDirection {
		&::before {
			content: url(../../assets/icons/navigation.png);
		}
	}
	&__humiditi,
	&__pressure,
	&__wind,
	&__windDirection {
		&::before {
			@include blockColumnCenter;
		}
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 600;
	}
	&__text {
		color: $colorGrey;
	}
	@media screen and (max-width: $sizeMedium) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 200px repeat(3, 110px);
		row-gap: 20px;
		grid-template-areas:
			'temp main'
			'wind pressure'
			'wind humidity'
			'sun  sun';
		&__temperature {
			@include blockColumnCenter;
		}
	}
}

.temperature {
	&__current {
		font-size: 60px;
		font-weight: 400;
	}
	&__minmax {
		color: $colorGrey;
		font-weight: 300;
		font-size: 14px;
	}
	&__feels {
		color: $colorGrey;
		font-weight: 600;
		font-size: 18px;
	}
}

.description {
	text-align: center;
	color: $colorDark;
	font-weight: 500;
	font-size: 20px;
	text-shadow: 0 .5px 2px $colorGreyLight;
	&__img img {
		@include width-height(200px);
	}
	@media screen and (max-width: $sizeMedium) {
		&__img img {
			@include width-height(150px);
		}
	}
}

.sun {
	@include flex-grid(flex, null, space-between, flex-end);
	&__sunrise, &__sunset {
		@include blockColumnCenter;
		&::before {
			content: url(../../assets/icons/sunrise_dark.svg);
		}
	}
	&__sunset {
		&::before {
			content: url(../../assets/icons/sunset_dark.png);
		}
	}
	&__subtitle {
		display: block;
		height: 20px;
		font-weight: 600;
		text-align: center;
		margin: 5px;
	}
	&__text {
		display: block;
		text-align: center;
	}
	@media screen and (max-width: $sizeMedium) {
		justify-content: space-around;
	}
}
