@import '../../styles/variables.scss';

.mainCard {
	position: relative;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	&__city {
		font-size: 20px;
	}
	&__time {
		font-size: 96px;
		padding: 20px 0;
	}
	&__date {
		color: $colorGrey;
	}
}
