@import '../../styles/variables.scss';

.content {
	position: relative;
	height: 100vh;
	background: linear-gradient(175deg, transparent 50%, #aae6ee 97%) left 0 bottom 0 / 100% 50% no-repeat, url('../../assets/images/light_clouds.png') center/cover no-repeat;
	&_hidden {
		@include width-height(100%);
		position: fixed;
		background-color: rgba(14, 32, 46, 0.85);
		z-index: 10;
	}
	&__container {
		max-width: 1200px;
		padding: 20px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	&__buttonMenu {
		cursor: pointer;
		background-color: $colorWhite;
		box-shadow: $shadowLittle;
		border-radius: 6px;
		padding: 10px 15px 8px;
		&::before {
			content: url(../../assets/icons/sidebar_menu.svg);
		}
	}
	&__mainTools {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		height: 50px;
	}
	&__main {
		display: flex;
		gap: 30px;
	}
}