@use '../../styles/styles.scss' as *;
@import '../../styles/variables.scss';

.content {
	position: relative;
	height: 100%;
	@include themed() {
		background: t('fon');
	}
	&_hidden {
		@include width-height(100%);
		position: fixed;
		background-color: rgba(14, 32, 46, 0.85);
		z-index: 10;
		@include themed() {
			background-color: t('backFill');
		}
	}
	&__container {
		max-width: 1200px;
		padding: 20px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	&__buttonMenu {
		cursor: pointer;
		background-color: $colorWhite;
		box-shadow: $shadowLittle;
		border-radius: 6px;
		padding: 10px 15px 8px;
		height: 50px;
		&::before {
			content: url(../../assets/icons/sidebar_menu.svg);
		}
	}
	&__mainTools {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		height: 50px;
	}
	&__main {
		height: 100%;
		flex: 1 1 auto;
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-template-rows: 300px;
		gap: 30px;
	}
	@media screen and (max-width: $sizeLarge) {
		&__main {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: fit-content(200px);
			gap: 30px;
		}
	}
	@media screen and (max-width: $sizeMedium) {
		&__container {
			gap: 20px;
			padding: 20px 10px;
		}
		&__main {
			gap: 20px;
		}
		&__mainTools {
			position: relative;
			display: flex;
			justify-content: space-between;
			gap: 10px;
			height: 110px;
			&>div:nth-child(2) {
				position: absolute;
				align-self: flex-end;
				width: 100%;
			}
		}
	}
}